" Tim Seryakov
" t.seryakov@gmail.com

" Plugins ----------------------------------------------------------
Plug 'preservim/nerdtree'

"-------------------------------------------------------------------
set ignorecase
set smartcase
set scrolloff=2
set clipboard+=unnamed
set multiple-cursors
set easymotion
set commentary
set highlightedyank
set surround
set sneak
set ideajoin
set visualbell
set noerrorbells

" My favorite ------------------------------------------------------
imap jk <Esc>
imap jj <Esc>

"--------------------------------------------------------------------
nmap yy "+yy
vnoremap y "+y

let mapleader = " "
set timeoutlen=1000

nmap <leader>si :source ~/.ideavimrc<cr>

" Navigation -------------------------------------------------------
nmap <leader>p :action Back<cr>
nmap <leader>n :action Forward<cr>
nmap <leader>l :action RecentLocations<cr>
nmap <leader>e :action RecentFiles<cr>

" Search -----------------------------------------------------------
nmap <leader>/ :action Find<cr>
nmap <leader>\ :action FindInPath<cr>

" Splits manipulation -----------------------------------------------
nmap <c-\> :action SplitVertically<CR>
nmap <c--> :action SplitHorizontally<CR>
nmap <c-=> :action Unsplit<CR>
nmap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-j> <c-w>j
nmap <c-k> <c-w>k

" Tabs --------------------------------------------------------------
nmap <TAB> :action PreviousTab<CR>
nmap <s-TAB> :action NextTab<CR>
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>

"--------------------------------------------------------------------
nmap <leader>u :action FindUsages<cr>
nmap <leader>i :action SelectIn<cr>
nmap <leader>f :action ReformatCode<CR>
nmap <leader>- :action FoldingGroup<CR>

" Delete (not cut) --------------------------------------------------
nnoremap d "_d
vnoremap d "_d
nnoremap x "_x
vnoremap x "_x
nnoremap D "_D

" recursively open and close the folds under the cursor -------------
nmap zC :action CollapseRegionRecursively<CR>
nmap zO :action ExpandRegionRecursively<CR>

" Errors ------------------------------------------------------------
nmap <leader>d :action ShowErrorDescription<cr>
nmap <leader>x :action GotoNextError<cr>
nmap <leader>X :action GotoPreviousError<cr>
"--------------------------------------------------------------------

nmap <leader>G :only<bar>vsplit<CR>gd



" Refactorings
" vmap T :action Refactorings.QuickListPopupAction<cr>
" nmap <leader>rr :action RenameElement<cr>
" nmap <leader>rg :action Generate<cr>
nmap <leader>o :action OptimizeImports<cr>

map <leader>R :action Replace<CR>

inoremap <C-d> <Esc>yypi


" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>
nmap zk O<Esc>
nmap zJ o<Esc>k
nmap zJ O<Esc>j
