" Plugins ----------------------------------------------------------
Plug 'preservim/nerdtree'

"-------------------------------------------------------------------
set ignorecase
set smartcase
set scrolloff=2
set clipboard+=unnamed
set multiple-cursors
set easymotion
set commentary
set highlightedyank
set surround
set sneak
set ideajoin
set visualbell
set noerrorbells

" My favorites -----------------------------------------------------
imap jj <Esc>
map <C-c> <Esc>

"--------------------------------------------------------------------
nnoremap yy "+yy
vnoremap y "+y

let mapleader = " "
set timeoutlen=1000


nmap <leader>so :source ~/.ideavimrc<cr>

" Like cmd+n --------------------------------------------------------
nmap <leader>1 :action ActivateProjectToolWindow<cr>
nmap <leader>2 :action ActivateTerminalToolWindow<cr>
nmap <leader>3 :action ActivateVersionControlToolWindow<cr>
nmap <leader>4 :action ActivatenpmToolWindow<cr>
nmap <leader>5 :action ActivateRunToolWindow<cr>
nmap <leader>7 :action ActivateServicesToolWindow<cr>
nmap <leader>8 :action Activategithub.copilotToolWindowToolWindow<cr>
nmap <leader>0 :action ActivateGitLabMergeRequestsToolWindow<cr>


" Navigation -------------------------------------------------------
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

nmap <leader>p :action Back<cr>
nmap <leader>n :action Forward<cr>
nmap <leader>l :action RecentLocations<cr>
nmap <leader>e :action RecentFiles<cr>

" Search -----------------------------------------------------------
nmap <leader>= :action GotoFile<cr>
nmap <leader>/ :action Find<cr>
nmap <leader>\ :action FindInPath<cr>

" Splits manipulation -----------------------------------------------
nmap <C-\> :action SplitVertically<CR>
nmap <C--> :action SplitHorizontally<CR>
nmap <C-=> :action Unsplit<CR>
nmap <C-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <C-j> a:vim
sethandler <C-k> a:vim
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k

" Tabs --------------------------------------------------------------
nmap <leader>q :action CloseContent<cr>
nmap <leader>Q :action ReopenClosedTab<cr>
nmap <TAB> :action PreviousTab<CR>
nmap <S-TAB> :action NextTab<CR>

" Misc --------------------------------------------------------------
nmap <leader>u :action FindUsages<cr>
nmap <leader>i :action SelectIn<cr>
nmap <leader>f :action ReformatCode<CR>
nmap <leader>- :action FoldingGroup<CR>
nmap <leader>c :action CommentByLineComment<CR>
nmap <leader>o :action OptimizeImports<cr>

" Run ---------------------------------------------------------------
nnoremap ,, :action RunClass<CR>
nnoremap ,r :action Rerun<CR>

" Delete (not cut) --------------------------------------------------
nnoremap d "_d
vnoremap d "_d
nnoremap x "_x
vnoremap x "_x
nnoremap D "_D

" recursively open and close the folds under the cursor -------------
nnoremap zC :action CollapseRegionRecursively<CR>
nnoremap zO :action ExpandRegionRecursively<CR>

" Errors ------------------------------------------------------------
nmap <leader>d :action ShowErrorDescription<cr>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
"--------------------------------------------------------------------

nmap <leader>g :only<bar>vsplit<CR>gd




" Refactorings
" vmap T :action Refactorings.QuickListPopupAction<cr>
" nmap <leader>rr :action RenameElement<cr>
" nmap <leader>rg :action Generate<cr>


map <leader>R :action Replace<CR>

inoremap <C-d> <Esc>yypi


" These create newlines like o and O but stay in normal mode
nmap zj o<Esc>
nmap zk O<Esc>
nmap zJ o<Esc>k
nmap zJ O<Esc>j
